<hr class="sexy-line" />
<div class="row">
    <div class="col-md-12 contractor-title"><h1 class="contractor-title">Contractor</h1></div>
    <div class="col-md-12 pluscontractor">
        <input type="button" value="+" ng-click="controller.showModal()" />
    </div>
</div>

<hr class="sexy-line" />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="table-striped">
            <table class="table">
                <tr>

                    <th>Name</th>
                    <th>Company Name</th>
                    <th>Title</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Second Phone Number</th>
                    <th>Options</th>
                </tr>
                <tr ng-repeat="contractor in controller.contractors">

                    <td>{{contractor.name}}</td>
                    <td>{{contractor.companyName}}</td>
                    <td>{{contractor.title}}</td>
                    <td>{{contractor.email}}</td>
                    <td>{{contractor.phoneNumber}}</td>
                    <td>{{contractor.phoneNumber2}}</td>
                    <td>
                        <input value="Edit" type="button" contractor-button" ng-click="controller.showEditModal(contractor.id)" /> 
                        |
                        <input value="Delete" type="button" contractor-button" ng-click="controller.deleteContractor(contractor.id)" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="project-details-bottom"></div>
<hr class="sexy-line" />