<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <input type="button" class="close" value="X" ng-click="controller.cancel()" />
            <h1 class="text-center">Edit Client Details</h1>
        </div>
        <form class="new-form-center">
            <div class="modal-body">
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Name</strong>&nbsp;</span>&nbsp;</span>
                    <input type="text" class="form-control new" placeholder="Client's name" ng-model="controller.client.name" />
                </div>
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Contact #1</strong>&nbsp;</span>&nbsp;</span>
                    <input type="text" class="form-control new" placeholder="(888) 888-8888" ng-model="controller.client.phoneNumber" />
                </div>
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Contact #2</strong>&nbsp;</span>&nbsp;</span>
                    <input type="text" class="form-control new" placeholder="(888) 888-8888" ng-model="controller.client.phoneNumber2" />
                </div>
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Email</strong>&nbsp;</span>&nbsp;</span>
                    <input type="email" class="form-control new" placeholder="example@example.com" ng-model="controller.client.email" />
                </div>
            </div>
            <div class="new-row">
                <div class="col-md-12 projectform">
                    <label for="projectDescription" class="inputlabel">Client Notes</label>
                    <textarea style="padding-bottom: 100px; text-align:center" class="form-control" type="text" placeholder="Client notes" ng-model="controller.client.description"></textarea>
                </div>
            </div>
        </form>
        <div class="modal-footer">
                <input class="btn" type="submit" value="Add" ng-click="controller.ok(client)" />
        </div>
    </div>
</div>

