<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <input type="button" class="close" value="X" ng-click="controller.cancel()" />
            <h1 class="text-center">Edit Contractor</h1>
        </div>

        <form class="new-form-center">
            <div class="modal-body">
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Email</strong>&nbsp;</span>&nbsp;</span>
                    <input placeholder="Contractor Email" type="text" class="form-control new" ng-model="controller.edited.email" />
                </div>
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Name</strong>&nbsp;</span>&nbsp;</span>
                    <input placeholder="Contractor Name" type="text" class="form-control new" ng-model="controller.edited.name" />
                </div>
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Title</strong>&nbsp;</span>&nbsp;</span>
                    <input placeholder="Contractor Title" type="text" class="form-control new" ng-model="controller.edited.title" />
                </div>
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Company Name</strong>&nbsp;</span>&nbsp;</span>
                    <input placeholder="Contractor Company Name" type="text" class="form-control new" ng-model="controller.edited.companyName" />
                </div>
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Contact</strong>&nbsp;</span>&nbsp;</span>
                    <input placeholder="(888) 888-8888" type="text" class="form-control new" ng-model="controller.edited.phoneNumber" />
                </div>
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Contact #2</strong>&nbsp;</span>&nbsp;</span>
                    <input placeholder="(888) 888-8888" type="text" class="form-control new" ng-model="controller.edited.phoneNumber2" />
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <input type="submit" class="btn" value="Edit" ng-click="controller.ok(controller.edited)" />
        </div>
    </div>
</div>