<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <input type="button" class="close" value="X" ng-click="controller.cancel()" />
            <h1 class="text-center">Edit Task</h1>
        </div>
        <form class="new-form-center">
            <div class="modal-body">
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Name</strong>&nbsp;</span>&nbsp;</span>
                    <input ng-model="controller.task.name" class="form-control new" type="text" placeholder="Task Name" />
                </div>

                <div class="new-row">
                    <div class="col-md-12 projectform">
                        <label for="taskDescription" class="inputlabel">Description</label>
                        <textarea ng-model="controller.task.description" style="padding-bottom: 100px" class="form-control" type="text" placeholder="Short description of the task"></textarea>
                    </div>
                </div>
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Estimate</strong>&nbsp;</span>&nbsp;</span>
                    <input ng-model="controller.task.estimate" class="form-control new" type="text" placeholder="Task Estimate" />
                </div>
                <div class="new-row input-group">
                    <span class="input-group-addon"><span class="inputname"><strong>Deadline</strong>&nbsp;</span>&nbsp;</span>
                    <input ng-model="controller.task.deadline" class="form-control new" placeholder="Task Deadline" />
                </div>
                <div class="new-row">
                    <div class="col-md-12 projectform" ng-controller="contractorListController as contractor">
                        <label for="dropdown" class="control-label">Pick a Contractor</label>
                        <div class="dropdown">
                            <select class="dropdown-toggle" ng-value="contractor.id" ng-model="controller.task.contractorId" ng-options="contractor.id as contractor.name for contractor in contractor.contractors track by contractor.name"></select>
                        </div>
                    </div>
                </div>
                <div class="new-row">
                    <div class="col-md-12 projectform">
                        <label for="taskStatus">Status</label>
                        <div class="dropdown">
                            <select ng-model="controller.task.state" ng-init="controller.task.state" ng-options="state for state in controller.status"></select>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="modal-footer">
            <input type="submit" class="btn" value="Edit Task" ng-click="controller.ok(controller.task)" />
            <!--<input type="button" class="btn btn-danger" value="Cancel" ng-click="controller.cancel()" />-->
        </div>
    </div>
</div>
