<div class="row" id="loginpage">
    <form class="login-center" ng-submit="controller.login(userName, password)">
        <div class="login-row">
            <span class="glyphicon glyphicon-user login-icon">&nbsp;</span>
            <input placeholder="User Email" type="text" class="form-control login" ng-model="userName" />
        </div>
        <div class="login-row">
            <span class="glyphicon glyphicon-lock login-icon">&nbsp;</span>
            <input placeholder="Password" type="password" class="form-control login" ng-model="password" />
        </div>
        <div class="login-submit">
            <input type="submit" class="btn btn-success" value="Log In" />
        </div>
    </form>
</div>