<div class="row" id="loginpage">
    <form class="new-center" ng-submit="controller.login(userName, password)">
        <div class="new-row input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user new-icon">&nbsp;</span></span>
            <input placeholder="User Email" type="text" class="form-control new" ng-model="userName" />
        </div>
        <div class="new-row input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock new-icon">&nbsp;</span></span>
            <input placeholder="Password" type="password" class="form-control new" ng-model="password" />
        </div>
        <div class="new-submit">
            <input type="submit" class="btn btn-success" value="Log In" />
        </div>
    </form>
</div>