<div class="row">
    <div class="row">
        <form ng-submit="controller.register(user)">
            <h1>Login</h1>
            <input placeholder="User Name" type="text" class="form-control" ng-model="user.userName" />
            <input placeholder="Email" type="text" class="form-control" ng-model="user.email" />
            <input placeholder="Password" type="password" class="form-control" ng-model="password" />
            <input placeholder="Title" type="text" class="form-control" ng-model="user.title" />
            <input placeholder="Company Name" type="text" class="form-control" ng-model="user.companyName" />
            <input placeholder="Phone Number" type="text" class="form-control" ng-model="user.phoneNumber" />
            <input placeholder="Phone Number #2" type="text" class="form-control" ng-model="user.phoneNumber2" />
            <input type="submit" class="btn btn-success" value="Add New Contractor" />
        </form>
    </div>
</div>
