<div class="row" id="newprojectpage">
    <h1 class="text-center">Create New Project</h1>
    <form class="new-form-center">
        <div class="row">
            <h2 class="text-center">Project Details</h2>
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>Title</strong>&nbsp;</span>&nbsp;</span>
                <input class="form-control new" type="text" placeholder="Title" ng-model="project.title" />
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>Budget</strong>&nbsp;</span>&nbsp;</span>
                <input type="number" class="form-control new budget" placeholder=10,000 ng-model="project.budget" />
            </div>
        <div class="new-row input-group">
            <span class="input-group-addon"><span class="inputname"><strong>Start Date</strong>&nbsp;</span>&nbsp;</span>
                <input type="date" class="form-control new" ng-model="project.estStart" />
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>Completed Date</strong>&nbsp;</span>&nbsp;</span>
                <input type="date" class="form-control new" ng-model="project.estCompleted" />
        </div>
        <div class="new-row">
            <div class="col-md-12 projectform">
                <label for="projectDescription" class="inputlabel">Description</label>
                <textarea ng-model="project.description"  class="form-control" type="text" placeholder="Short Description of the Project"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <h2 class="text-center">Client Details</h2>
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>Name</strong>&nbsp;</span>&nbsp;</span>
                <input type="text" class="form-control new" placeholder="client's name" ng-model="project.client.name" />
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span><strong>Contact #1</strong>&nbsp;</span>&nbsp;</span>
                <input type="text" class="form-control new" placeholder="(888) 888-8888" ng-model="project.client.phoneNumber" />
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>Contact #2</strong>&nbsp;</span>&nbsp;</span>
                <input type="text" class="form-control new" placeholder="(888) 888-8888" ng-model="project.client.phoneNumber2" />
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>Email</strong>&nbsp;</span>&nbsp;</span>
                <input type="email" class="form-control new" placeholder="example@example.com" ng-model="project.client.email" />
        </div>
        <div class="new-row">
            <div class="col-md-12 projectform">
                <label for="projectDescription">Client Notes</label>
                <textarea style="padding-bottom: 100px; text-align:center" class="form-control" type="text" placeholder="Client Notes" ng-model="project.client.description"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <h2 class="text-center">Location Details</h2>
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>Street 1</strong>&nbsp;</span>&nbsp;</span>
                <input type="text" class="form-control new" placeholder="1100 Example St." ng-model="project.client.location.street1" />
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>Street 2</strong>&nbsp;</span>&nbsp;</span>
                <input type="text" class="form-control new" placeholder="(Optional)" ng-model="project.client.location.street2" />
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>City</strong>&nbsp;</span>&nbsp;</span>
                <input type="text" class="form-control new" placeholder="City" ng-model="project.client.location.city" />
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>State</strong>&nbsp;</span>&nbsp;</span>
                <input type="text" class="form-control new" placeholder="State" ng-model="project.client.location.state" />
        </div>
        <div class="new-row input-group">
                <span class="input-group-addon"><span class="inputname"><strong>Country</strong>&nbsp;</span>&nbsp;</span>
                <input type="text" class="form-control new" placeholder="Country (eg. US)" ng-model="project.client.location.country" />
        </div>
    </form>
    <br />
    <div class="text-center">
        <input class="btn" type="submit" value="Add" ng-click="controller.newProject(project)" />
        <a href="#/project-list"><input value="Cancel" type="button" class="btn" /></a>

    </div>
    <div style="padding-bottom: 50px" class="col-md-2"></div>
</div>


