<div class="row" id="newprojectpage">
    <h1 class="text-center">Create New Project</h1>
    <form class="new-center">
        <div class="row">
            <h2>Project Details</h2>
        </div>
        <div class="new-row input-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="Title">Title</label>
                <input class="form-control" type="text" placeholder="project name" ng-model="project.title" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="clientEmail">Budget</label>
                <input type="number" class="form-control" placeholder=10,000 ng-model="project.budget" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="estimatedStartDate">Estimated Start Date</label>
                <input type="date" class="form-control" ng-model="project.estStart" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="estimatedCompletedDate">Estimated Completed Date</label>
                <input type="date" class="form-control" ng-model="project.estCompleted" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="projectDescription">Description</label>
                <textarea ng-model="project.description" style="padding-bottom: 100px; text-align:center" class="form-control" type="text" placeholder="Short Description of the Project"></textarea>
            </div>
        </div>
        <hr />
        <div class="row">
            <h2>Client Details</h2>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="clientName">Name</label>
                <input type="text" class="form-control" placeholder="client's name" ng-model="project.client.name" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="clientPhoneOne">Contact Phone Number 1</label>
                <input type="text" class="form-control" placeholder="(888) 888-8888" ng-model="project.client.phoneNumber" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="clientPhoneOne">Contact Phone Number 2</label>
                <input type="text" class="form-control" placeholder="(888) 888-8888" ng-model="project.client.phoneNumber2" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="clientEmail">Email</label>
                <input type="email" class="form-control" placeholder="example@example.com" ng-model="project.client.email" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="projectDescription">Client Notes</label>
                <textarea style="padding-bottom: 100px; text-align:center" class="form-control" type="text" placeholder="Client Notes" ng-model="project.client.description"></textarea>
            </div>
        </div>
        <hr />
        <div class="row">
            <h2>Location Details</h2>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="clientStreetOne">Street One</label>
                <input type="text" class="form-control" placeholder="1100 Example St." ng-model="project.client.location.street1" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="clientStreetTwo">Street Two</label>
                <input type="text" class="form-control" placeholder="1101 Example St. (Optional)" ng-model="project.client.location.street2" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="city">City</label>
                <input type="text" class="form-control" placeholder="City" ng-model="project.client.location.city" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="state">State</label>
                <input type="text" class="form-control" placeholder="State" ng-model="project.client.location.state" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10 projectform">
                <label for="Country">Country</label>
                <input type="text" class="form-control" placeholder="Country (ex. US)" ng-model="project.client.location.country" />
            </div>
        </div>
    </form>
    <div class="col-md-offset-5 col-md-1">
        <input class="btn btn-success" type="submit" value="Add" ng-click="controller.newProject(project)" />
    </div>
</div>


