<div class="row">
    <h1>Create New Project</h1>
</div>
<form>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <label for="Name">Name</label>
            <input class="form-control" type="text" placeholder="project name" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <label for="projectDescription">Description</label>
            <textarea style="padding: 10px" class="form-control" type="text" placeholder="short description of the project" />
        </div>
    </div>
    <div class="row">
        <h2>Client Details</h2>
        <div class="col-md-offset-2 col-md-10">
            <label for="clientName">Name</label>
           <input type="text" class="form-control" placeholder="client's name" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <label for="clientPhoneOne">Contact Phone Number 1</label>
            <input type="text" class="form-control" placeholder="(888) 888-8888" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-10">
            <label for="clientPhoneOne">Contact Phone Number 2</label>
            <input type="text" class="form-control" placeholder="(888) 888-8888" />
        </div>
    </div>
    <div class="row">
        <label for="clientEmail">Email</label>
        <input type="text" class="form-control" placeholder="example@example.com" />
    </div>
</form>