<div class="container">
    <div class="row">
        <h1>Add New Task</h1>
    </div>
    <hr />
    <form class="form-group" ng-submit="controller.addTask(task)">
        <div class="row">
            <div class="col-md-offset-1 col-md-11 taskform">
                <label for="Name">Name</label>
                <input ng-model="task.name" class="form-control" type="text" placeholder="Task Name" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-offset-1 col-md-11 taskform">
                <label for="taskDescription">Description</label>
                <textarea ng-model="task.description" style="padding-bottom: 100px" class="form-control" type="text" placeholder="Short description of the task"></textarea>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-offset-1 col-md-11 taskform">
                <label for="taskEstimate">Estimate</label>
                <input ng-model="task.estimate" class="form-control" type="text" placeholder="Task Estimate"></input>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-offset-1 col-md-6" ng-controller="contractorListController as contractor">
                <div class="dropdown">
                    <label for="dropdown">Choose Contractor</label>
                    <select class="dropdown-toggle" ng-model="contractor.selectedContractor" ng-options="contractor.name in contractor"></select>
                    {{contractor.selectedContractor}}
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-offset-1 col-md-11">
                <input type="submit" class="btn btn-success" value="Add Task" />
            </div>
        </div>
    </form>
</div>
