<div class="modal-dialog">
    <div class="modal-header">
        
        <h1>Add New Task <input type="button" class="close" value="X" ng-click="controller.cancel()" /></h1>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11 taskform">
                    <label for="Name" class="control-label">Name</label>
                    <input ng-model="task.name" class="form-control" type="text" placeholder="Task Name" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11 taskform">
                    <label for="taskDescription" class="control-label">Description</label>
                    <textarea ng-model="task.description" style="padding-bottom: 100px" class="form-control" type="text" placeholder="Short description of the task"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11 taskform">
                    <label for="taskEstimate" class="control-label">Estimate</label>
                    <input ng-model="task.estimate" class="form-control" type="text" placeholder="Task Estimate" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-11 taskform">
                    <label for="deadline" class="control-label">Deadline</label>
                    <input ng-model="task.deadline" class="form-control" type="date" placeholder="Task Deadline" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-6 taskform" ng-controller="contractorListController as contractor">
                    <div class="dropdown">
                        <label for="dropdown" class="control-label">Pick a Contractor</label>
                        <select class="dropdown-toggle" ng-model="task.contractor" ng-options="contractor.name as contractor.id for contractor in contractor.contractors track by contractor.name"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-md-offset-1 col-md-11">
                <input type="button" class="btn btn-success" value="Add Task" ng-click="controller.ok(task)" />
                <!--<input type="button" class="btn btn-danger" value="Cancel" ng-click="controller.cancel()" />-->
            </div>
        </div>
    </form>
</div>
