<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <input type="button" class="close" value="X" ng-click="controller.cancel()" />
            <h1 class="text-center">Add New Task</h1>
        </div>
        <form class="new-form-center">
            <div class="modal-body">
                <div class="new-row input-group">
                        <span class="input-group-addon"><span class="inputname"><strong>Name</strong>&nbsp;</span>&nbsp;</span>
                        <input ng-model="task.name" class="form-control new" type="text" placeholder="Task Name" />
                </div>
                <div class="new-row">
                    <div class="col-md-12">
                        <label for="taskDescription" class="inputlabel">Description</label>
                        <textarea ng-model="task.description" style="padding-bottom: 100px" class="form-control" type="text" placeholder="Short description of the task"></textarea>
                    </div>
                </div>
                <div class="new-row input-group">
                        <span class="input-group-addon"><span class="inputname"><strong>Estimate</strong>&nbsp;</span>&nbsp;</span>
                        <input ng-model="task.estimate" class="form-control new" type="text" placeholder="Task Estimate" />
                </div>
                <div class="new-row input-group">
                        <span class="input-group-addon"><span class="inputname"><strong>Deadline</strong>&nbsp;</span>&nbsp;</span>
                        <input ng-model="task.deadline" class="form-control new" type="date" placeholder="Task Deadline" />
                </div>
                <div class="new-row">
                    <div class="col-md-offset-1 col-md-6" ng-controller="contractorListController as contractor">
                        <div class="dropdown">
                            <label for="dropdown" class="control-label">Pick a Contractor</label>
                        <select class="dropdown-toggle" ng-model="task.contractorId" ng-options="contractor.id as contractor.name for contractor in contractor.contractors track by contractor.name"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <input type="submit" class="btn" value="Add Task" ng-click="controller.ok(task)" />
            </div>
        </form>
    </div>
</div>
