<hr class="sexy-line" />

<div class="row">
    <div class="col-md-12 project-title"><h1 class="project-title">Projects</h1></div>
    <div class="col-md-12 plusproject">
        <input type="button" value="+" ng-click="controller.showModal()" />
    </div>
</div>
<!--<div class="container">
    <a class="btn btn-cta-primary center" ng-click="controller.showModal()">Projects&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</a>
</div>-->

<hr class="sexy-line" />

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="table-striped">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Budget</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tr ng-repeat="project in controller.projects">
                    <!--<a href="#/project-details/{{project.id}}" class="project-clickable">-->
                    <td>
                         <
                        {{project.title}}
                    </td>
                    <td>
                        {{project.budget}}
                    </td>
                    <td>
                        {{project.state}}
                    </td>
                    <td>
                        <a href="#/project-details/{{project.id}}" class="project-clickable"><input value="Click to show details" type="button" contractor-button" /></a>
                    </td>
                    <!--</a>-->
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


