
<div>
    <h1>{{controller.project.title}}</h1>
    <form ng-submit="controller.postFiles(file)">
        <input type="file" value="upload" file-model="file" />
        <input type="submit" value="submit"/>
    </form>
    
</div>

<div class="row">
    <input value="+" type="button" ng-click="controller.showModal()" />
</div>

<div class="row">
    <div class="col-md-12">
        {{controller.project.description}}
    </div>
    <div>
        <div class="col-md-12" ng-repeat="job in controller.project.jobList">
            {{job.name}}
            {{job.deadline}}
            {{job.estimate}}
            <input type="button" />
        </div>
    </div>
</div>
