<hr class="sexy-line" />

<div class="row">
    <div class="col-md-12 project-title"><h1 class="project-list-title">Projects</h1></div>
    <div class="col-md-12 plusproject">
        <input type="button" value="+" ng-click="controller.showModal()" />
    </div>
</div>
<!--<div class="container">
    <a class="btn btn-cta-primary center" ng-click="controller.showModal()">Projects&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</a>
</div>-->

<hr class="sexy-line" />

<div class="project-list row" ng-repeat="project in controller.projects">
    <a href="#/project-details/{{project.id}}" class="project-clickable">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2">
            <table class="table table-responsive">
                <tr>
                    <td>Title</td>
                    <td>
                        <strong>{{project.title}}</strong>
                    </td>
                    <td>Click to show details</td>
                </tr>
                <tr>
                    <td>Budget</td>
                    <td>
                        <strong>{{project.budget}}</strong>
                    </td>
                    <td>Click to show details</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <strong>{{project.state}}</strong>
                    </td>
                    <td>Click to show details</td>
                </tr>
            </table>
        </div>
    </a>
</div>


