<hr class="sexy-line" />
<div class="project-details-title row">
    <div class="col-md-12">
        <h1 class="text-center">{{controller.project.title}}</h1>
    </div>
</div>
<hr class="sexy-line" />
<!--Upload Boxes-->
<div class="project-details-description row">
    <div class="col-md-12">
        <h3 class="text-center">{{controller.project.description}}</h3>
    </div>
</div>
<hr class="sexy-line" />
<div class="row">
    <div class="col-md-5 pull-left">
        <div class="row">
            <div class="project-details-tasklist-header text-center col-md-12">
                <h2>
                    Location
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                <table class="table table-responsive">
                    <tr>
                        <th>
                            Street One
                        </th>
                        <th ng-if="controller.location.street2 != null">
                            Street Two
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            State
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {{controller.location.street1}}
                        </td>
                        <td ng-if="controller.location.street2 != null">
                            {{controller.location.street2}}
                        </td>
                        <td>
                            {{controller.location.city}}
                        </td>
                        <td>
                            {{controller.location.state}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input value="Edit Location" class="btn" type="button" ng-click="controller.editLocationModal()" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="project-details-tasklist-header text-center col-md-12">
                <h2>
                    Client
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10 col-md-offset-1">
                <table class="table table-responsive">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Phone
                        </th>
                        <th ng-if="(controller.client.phoneNumber2 != null || controller.client.phoneNumber2 === '')">
                            Alt. Phone
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {{controller.client.name}}
                        </td>
                        <td>
                            {{controller.client.phoneNumber}}
                        </td>
                        <td ng-if='controller.client.phoneNumber2 != null || controller.client.phoneNumber2 === ""'>
                            {{controller.client.phoneNumber2}}
                        </td>
                        <td>
                            {{controller.client.email}}
                        </td>
                        <td>
                            {{controller.client.description}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input value="Edit Client" class="btn" type="button" ng-click="controller.editClientModal()" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<hr class="sexy-line" />
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center project-details-tasklist-header">Tasks</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <h2 class="project-details-budget">
            Budget:
            <span ng-class="{'positive': controller.netEstCost > 0, 'negative': controller.netEstCost <= 0 }">
                {{controller.netEstCost | currency}}
            </span>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 plustask">
        <input type="button" class="btn" value="New Task" ng-click="controller.showModal()" />
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-1">
        <div class="table-striped">
            <table class="table">
                <tr>
                    <th>
                        Job
                    </th>
                    <th>
                        Estimate
                    </th>
                    <th>
                        Deadline
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Options
                    </th>
                </tr>
                <tr ng-repeat="job in controller.project.jobList">
                    <td>
                        {{job.name}}
                    </td>
                    <td>
                        {{job.estimate | currency}}
                    </td>
                    <td>
                        {{job.deadline | date: "MM/dd/yyyy"}}
                    </td>
                    <td>
                        {{job.state}}
                    </td>
                    <td>
                        <a href="#/task-details/{{job.id}}"><input class="btn" type="button" value="Details" /></a> | <input type="button" class="btn" value="Delete" ng-click="controller.deleteTask(job.id)" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<hr class="sexy-line" />
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center project-details-tasklist-header"> Images and Blueprints </h2>
    </div>
    <div class="col-md-12 plusupload">
        <input class="btn" type="button" value="Upload File" ng-click="controller.uploadModal()" />
    </div>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10 col-md-offset-10">
        <form ng-submit="controller.createPortfolio(port)">
            <div class="row">
                <div class="col-md-12 create-portfolio">
                    <input class="btn" type="submit" value="Create New Portfolio Entry" />
                </div>
            </div>
            <div class="row" ng-init="port = {}">
                <div class="col-md-3" ng-repeat="upload in controller.project.uploads">
                    <div class="thumbnail">
                        <a href="{{upload.url}}">
                            <img ng-src="{{upload.url}}" class="img-responsive project-details-upload" />
                        </a>
                        <label>
                            General
                            <input class="radio-inline" type="radio" name="{{upload.id}}" ng-model="port[upload.id]" value="general" />
                        </label>
                        <label>
                            After
                            <input class="radio-inline" type="radio" id="{{upload.id}}-after" name="after" ng-model="controller.afterId" ng-value="upload.id" ng-click="port[upload.id] = 'general'" />
                        </label>
                        <label>
                            Before
                            <input class="radio-inline" type="radio" id="{{upload.id}}-before" name="before" ng-model="controller.beforeId" ng-value="upload.id" ng-click="port[upload.id] = 'general'" />
                        </label>
                        <label>
                            None
                            <input class="radio-inline" type="radio" name="{{upload.id}}"
                                   ng-model="port[upload.id]"
                                   value=""
                                   checked="checked" />
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr class="sexy-line" />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-offset-5 col-md-2">
                <input value="Edit Project" class="btn" type="button" ng-click="controller.editProjectModal()" />
                <input value="Delete Project" class="btn" type="button" ng-click="controller.deleteProject()" />
            </div>
        </div>
    </div>
</div>
<div class="project-details-bottom">
</div>