
<div class="row">
    <div class="col-md-3">
        <h1>{{controller.project.title}}</h1>
    </div>
</div>

{{port}}
<form ng-submit="controller.createPortfolio(port)">
    <div class="row">
        <label>Create Portfolio</label>
        <input type="submit" />
    </div>
    <div class="row" ng-init="port = {}">
        <div class="col-md-2" ng-repeat="upload in controller.project.uploads" style="display:inline">
            <img ng-src="{{upload.url}}" class="uploads" />
            <label>
                General
                <input type="radio" name="{{upload.id}}" ng-model="port[upload.id]" value="general"/>
            </label>
            <label>
                After
                <input type="radio" id="{{upload.id}}-after" name="after" ng-model="controller.afterId" ng-value="upload.id" ng-click="port[upload.id] = 'general'"/>
            </label>
            <label>
                Before
                <input type="radio" id="{{upload.id}}-before" name="before" ng-model="controller.beforeId" ng-value="upload.id" ng-click="port[upload.id] = 'general'"/>
            </label>
            <label>
                None
                <input type="radio" name="{{upload.id}}"
                       ng-model="port[upload.id]"
                       value=""
                       checked="checked" />
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-10 col-md-2">
            <input value="New" class="btn" type="button" ng-click="controller.showModal()" />
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <input value="Edit Project" class="btn" type="button" ng-click="controller.editProjectModal()" />
    </div>
</div>
<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <input value="Delete Project" class="btn" type="button" ng-click="controller.deleteProject()" />
    </div>
</div>
<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <input value="Edit Client" class="btn" type="button" ng-click="controller.editClientModal()" />
    </div>
</div>
<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <input value="Edit Location" class="btn" type="button" ng-click="controller.editLocationModal()" />
    </div>
</div>
<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <input type="button" value="Uploads" ng-click="controller.uploadModal()" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="row col-md-8">
        <div class="col-md-offset-2 col-md-8">
            {{controller.project.description}}
        </div>
        <div class="row joblistitem" ng-repeat="job in controller.project.jobList">
            <div class="col-md-2">
                {{job.name}}
            </div>
            <div class="col-md-2">
                {{job.deadline}}
            </div>
            <div class="col-md-3">
                {{job.estimate}}
            </div>
            <div class="col-md-3">
                <a href="#/task-details/{{job.id}}"><input class="btn btn-success" type="button" value="Details" /></a>
            </div>
                <div class="col-md-2">
                    <input type="button" class="btn btn-danger" value="Delete" ng-click="controller.deleteTask(job.id)" />
                </div>
        </div>
    </div>
</div>