
<div class="col-md-offset-4 col-md-4 add-project">
    <div ng-click="controller.showModal()">
        <h3>Projects&nbsp;&nbsp;&nbsp;&nbsp;+</h3>
    </div>
</div>

<div class="row" ng-repeat="project in controller.projects">
    <a href="#/project-details/{{project.id}}">
        <div class="col-md-12">
            <div class="col-md-12" id="projecttitle">
                <strong>{{project.title}}</strong>
            </div>
            <div class="col-md-4" id="listitems">
                Budget: {{project.budget}}
            </div>
            <div class="col-md-4" id="listitems">
                Status: {{project.state}}
            </div>
            <div class="col-md-4" id="listitems">
                Description: {{project.description}}
            </div>
        </div>
    </a>
</div>


