<div class="row" ng-repeat="portfolio in controller.portfolios">
    <div class="row portfolio-top  container-fluid">

        <div class="col-md-offset-2 col-md-8 portfolio-click" ng-click="details == false ? details = true : details = false">

            <div class="portfolio-flex-container">
                <div class="ba-item">
                    <img ng-src="{{portfolio.beforePicture.url}}" />
                </div>
                <div class="ba-item">
                    <img ng-src="{{portfolio.afterPicture.url}}" />
                </div>
                <span class="portfolio-img-text"><span>{{portfolio.name}}</span></span>
            </div>
        </div>

    </div>
    <div class="row portfolio-secret animated" ng-show="details">
        <div class="col-md-offset-2 col-md-8 portfolio-description">
            <p>{{portfolio.description}}</p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-12">
            <ul class="portfolio-flex-wrapper">
                <li ng-repeat="upload in portfolio.uploads"><img class="wrapper-item img-responsive" ng-src="{{upload.url}}" /></li>
            </ul>
        </div>
        <div class="col-md-12 portfolio-bottom">
            <input ng-click="details=false" type="button" value="close" class="portfolio-button-center" />
        </div>
    </div>

</div>
