<div class="container-fluid about">

    <div class="profile col-md-3">
        <img src="https://live.socialtyze.com/condenast/bradpitt/img/brad-hero-right.png" class="profile-image" />
    </div>

    <div class="profile-main col-md-6">
        <div class="profile-info">
            <p>MR Construction is a leading residential construction firm specializing in new builds and remodelling of unique and exclusive properties.</p>
            <p>We pride ourselves in delivering top quality no matter your construction needs.</p>
            <p>Our services cover both new build and interior remodelling, across the entire construction process from inception to completion.</p>
            <p>MR Construction actively manages a strong network of specialists, sub-contractors, suppliers and partners, carefully selected to guarantee professional quality.</p>
            <p>Call today to schedule your in-home estimate!</p>
        </div>
    </div>

    <div class="contact-main col-md-3">
        <blockquote>
            <div class="contact-icon">
                <p><span class="glyphicon glyphicon-home">&nbsp;</span>Location</p>
                <p>
                    MR Construction Co.<br />
                    1000 Houston Rd.<br />
                    Houston, Texas 10000
                </p>
            </div>
            <div class="contact-icon">
                <p><span class="glyphicon glyphicon-earphone">&nbsp;</span>Phone</p>
                <p>123-456-7890</p>
            </div>
            <div class="contact-icon">
                <p><span class="glyphicon glyphicon-envelope">&nbsp;</span>Email</p>
                <p>mrconstco@gmail.com</p>
            </div>
            <div class="contact-icon">
                <p><span class="glyphicon glyphicon-time">&nbsp;</span>Office Hours</p>
                <p>Mon-Fri 8am-5pm CST</p>
            </div>
        </blockquote>
    </div>


</div>
