<div class="container-fluid about">

    <div class="profile col-md-3">
        <img src="https://live.socialtyze.com/condenast/bradpitt/img/brad-hero-right.png" class="profile-image" />
    </div>

    <div class="profile-main col-md-6">
        <div class="profile-info">
            <p>Michael Rigby graduated from Middle Tennessee State University (MTSU) earning his Bachelors of Science degree in Engineering.  He also earned his Masters of Business Administration from MTSU.
</p>
            <p>Michael has been around and working in the construction industry since he was a young child. It all began at the age of 8 when he operated his first backhoe.  Once old enough he began to work with his father’s utility company in southwest Virginia.  In college he began to broaden his experience to working in commercial tenant fit-out, home additions, and remodeling.  After college Michael worked in the multi-family residential industry and later business development for the water and waste water sector.
</p>
            <p>Michael is a family man and strives to provide his clients with the quality of work he would expect for his own projects.  Michael has also been featured on the HGTV show “Beachfront Bargain Hunt Renovations” where he remodeled a 1960s canal front cottage in the Galveston, Texas area.  In his spare time Michael most enjoys spending time with his family and working on his many personal projects that include building custom motorcycles and restoring boats, jeeps, and trucks. </p>
            
        </div>
    </div>

    <div class="contact-main col-md-3">
        <blockquote>
            <div class="contact-icon">
                <p><span class="glyphicon glyphicon-home">&nbsp;</span>Location</p>
                <p>
                    MR Construction Co.<br />
                    13204 Indigo Creek Ln<br />
                    Pearland, Texas 77584
                </p>
            </div>
            <div class="contact-icon">
                <p><span class="glyphicon glyphicon-earphone">&nbsp;</span>Phone</p>
                <p>281-732-4106</p>
            </div>
            <div class="contact-icon">
                <p><span class="glyphicon glyphicon-envelope">&nbsp;</span>Email</p>
                <p>mrconstco@gmail.com</p>
            </div>
            <div class="contact-icon">
                <p><span class="glyphicon glyphicon-time">&nbsp;</span>Office Hours</p>
                <p>Mon-Sat 8am-5pm CST</p>
            </div>
        </blockquote>
    </div>


</div>
