<div class="row">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <h1>{{controller.task.name}}</h1>
    </div>
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        {{controller.task.projectTitle}}
    </div>

    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        {{controller.task.contractor.name}}
    </div>
    <hr />
    <div class="col-md-offset-3 col-md-9">
        {{controller.task.contractor.companyName}}
    </div>
    <div class="col-md-3">
        {{controller.task.estimate}}
    </div>
    <div class="col-md-offset-6 col-md-3">
        {{controller.task.deadline}}
    </div>
    <div class="row">
        {{controller.task.description}}
    </div>
    <div class="row">
        {{controller.task.status}}
    </div>
</div>
