.modal-dialog {
    min-height: 90%;
    border-radius: 0 !important;
    background-color: #EEEEEE;
    font-family: 'Titillium Web', sans-serif;
        border: none;
}

.modal-content {
    height: 0;
    width: 100%;
        border: none;
}

.modal-backdrop {
    opacity: .8 !important;
}

.modal-header {
    text-align: center !important;
    display: block;
    width: auto;
    color: #251C68;
    border: none;
}

.modal-footer {
    width: auto;
    height: auto;
    text-align: center;
        border: none;
}

.close {
    margin: auto;
    border: none;
    font-size: 30px;
    color: #CACACA;
    /*background-color: #A5B4C1;*/
}

    .close:hover {
        text-decoration: none;
        color: #251C68;
