.modal-dialog {
    min-height: 100%;
    border: 2px solid white;
    background-color: #A5B4C1;
    font-family: 'Titillium Web', sans-serif;
}

.modal-backdrop {
    opacity: .8 !important;
}

.modal-body {
    width: 50%;
    height: 0;
}

.modalhead{
    text-align:center !important;
    display:block;
}

.close {
    margin: auto;
    border: none;
    font-size: 50px;
    background-color: #A5B4C1;
}

    .close:hover {
        text-decoration: none;
        color: #F2E0AC;