.modal-dialog .modal-new {
    min-height: 100%;
    border-radius: 2px;
    border: 2px solid white;
    background-color: #EEEEEE;
    font-family: 'Titillium Web', sans-serif;
}

.modal-backdrop {
    opacity: .8 !important;
}

.modal-content {
    width: 100%;
    height: 0;
}

.modalhead{
    text-align:center !important;
    display:block;
}