body {
    background-color: #F7F7F7;
    color: #6C6C6C;
}
    body:after {
        content: ' ';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url('bp-blueprint-g01.jpg');
        background-size: cover;
        width: 100%;
        height: 100%;
        opacity: 0.4;
        z-index: -1;
    }

#logo {
    padding: 15px;
    display: flex;
    justify-content: center;
}

    #logo > a > img {
        max-height: 50px;
    }

.top {
    min-height: 150px;
}

.navbar-brand {
    max-height: 200px;
    max-width: 200px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar {
    display: flex;
    justify-content: center;
}

a {
    color: #251C68 !important;
    background: none;
    border-bottom: transparent !important;
    min-height: 51px;
}

    a:hover {
        background-color: transparent !important;
        border-bottom: groove 1px grey !important;
    }

    a:focus {
        background-color: transparent !important;
        border-bottom: groove 1px grey !important;
    }

.center {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: #251C68 !important;
}

/*-----Button Styles-----*/
input[type=button] {
    background-color: #6C6C6C;
    color: #EEEEEE;
    border: none !important;
    border-radius: 0 0 0 0;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
    input[type=button]:focus {
        outline: none !important;
    }
    input[type=button]:hover {
        background-color: #251C68;
        color: #EEEEEE;
    }

input[type=submit] {
    background-color: #6C6C6C;
    color: #EEEEEE;
    border: none !important;
    border-radius: 0 0 0 0;
    font-weight: bold;
}
    input[type=submit]:focus{
        outline: none !important;
    }
    input[type=submit]:hover {
        background-color: #251C68;
        color: #EEEEEE;
    }

.footer {
    background-color: rgba(37, 28, 104, 0.06);
    font-family: 'Titillium Web', sans-serif;
}

.footer-img {
    max-width: 50px;
    max-height: 50px;
    border: solid 2px #8f1725;
}

.copyright {
    margin-bottom: 50px;
    margin-top: 25px;
    text-decoration: none;
}

.footer-h2 {
    font-size: 16px;
    margin-left: 50px;
    font-family: 'Raleway', sans-serif;
}

.footer-container {
    padding-top: 50px;
}

.footer-p {
}

#footer-pic {

}
