body {
    color: #6C6C6C;
    background-color: #F7F7F7;
}

#logo {
    padding: 15px;
    display: flex;
    justify-content: center;
}

    #logo > a > img {
        max-height: 50px;
    }

.top {
    min-height: 150px;
}

.navbar-brand {
    max-height: 200px;
    max-width: 200px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.navbar {
    display: flex;
    justify-content: center;
}

a {
    color: !important;
    background: none;
}

    a:hover {
        background-color: transparent !important;
        border-bottom: groove 1px grey !important;
    }


.center {
    display: flex;
    align-content: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

hr {
    max-width: 80%;
}
