
.portfolio-click {
     margin-bottom: 30px;
}
.portfolio-description{
   
}


.portfolio-flex-container {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;
}

.portfolio-flex-container:hover{
    cursor: pointer;
}
.ba-item>img {
    width: 600px !important;
    height: 450px !important;
    
}
.ba-item>img:hover{
    
}
.portfolio-flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin-left: 120px;
    margin-right: 120px;
    list-style: none;

}
.wrapper-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
}
.portfolio-button-center{
    margin-left: 700px;
}
.portfolio-bottom {
    margin-bottom: 25px;
}
.portfolio-secret.ng-hide-add{
     animation: 0.5s zoomOut ease;
}
.portfolio-secret.ng-hide-remove{
   
    animation: 0.5s zoomIn ease;
}