
.portfolio-click {
     
}

.portfolio-flex-container {
    display: flex;
    flex-flow: row;
    align-content: center;
    justify-content: center;
}

.portfolio-flex-container:hover{
    cursor: pointer;
}

.ba-item>img{
    height: 450px;
    width: 600px;
}

div > span.portfolio-img-text{
    background: rgba(247, 247, 247, 0.50);
    color: #251C68;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 600;
    display: table;
    height: 450px;
    width: 1200px;
    left: -18px;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: 500ms;
    
}

div > span.portfolio-img-text:hover{
    opacity: 1;
}

div > span.portfolio-img-text span{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.pretty-portfolio-box{
    background-color: rgba(231, 231, 231, 0.59);
    box-shadow: 2px 2px rgba(199, 199, 199, 0.63);
    padding: 20px;
}

.portfolio-flex-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin-left: 120px;
    margin-right: 120px;
    list-style: none;
}

.wrapper-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
}
.flex-button{
    display: flex;
    align-content: center;
    justify-content: center;
}
.flex-p{
    text-align: center;
}
.portfolio-bottom {
    margin-bottom: 25px;
}
.portfolio-secret.ng-hide-add{
     animation: 1s zoomOut ease;
}
.portfolio-secret.ng-hide-remove{ 
    animation: 1s zoomIn ease;
}
