/*.add-project {
    border: none;
    background-color: #A5B4C1;
    font-size: 50px;
}*/
.add-project {
    display: inline-block;
    border: none !important;
    background-color: #555555;
    font-size: 100px;
    width: 300px;
    
    appearance: button;
    -moz-appearance: button; /* Firefox */
    -webkit-appearance: button; /* Safari and Chrome */
}

    div.add-project:hover {
        background-color: #111111;
        cursor: pointer !important;
    }

