.plusproject {
    margin: 0 auto;
    text-align: center;
    display: block;
    background-color: rgba(238, 238, 238, 0.89);
    padding-bottom: 15px;
    color: #251C68;
}

.project-title {
    text-align: center;
    background-color: rgba(238, 238, 238, 0.89);
    color: #251C68;
    font-family: 'Raleway', sans-serif;
    display: block;
}

.plusproject>input[value] {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    text-align: center;
    height: 35px;
    width: 40px;
}

#buttonstyle {
    font-size: 25px;
}