.uploadmodal {
    text-align: center;
}
label.uploadLabel input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 40px;
    filter: alpha(opacity=0);
    cursor: pointer;
}

.uploadLabel {
    position: relative;
    overflow: hidden;
    float: left;
    border-radius: 4px;
    padding: 5px 5px;
    margin: 5px;
    height: 50px;
    width: 300px;
    background: maroon;
    display: inline-block;
    font-size: 30px;
    color: white;
}

    .uploadLabel:hover {
        background: #fa6161;
    }
