.uploadmodal {
    text-align: center;
}

div.upload-center {
    margin-left: 190px;
}

label.uploadLabel input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 40px;
    filter: alpha(opacity=0);
    cursor: pointer;
}

label.uploadLabel {
    position: relative;
    overflow: hidden;
    float: left;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
    height: 210px;
    width: 200px;
    background: #6C6C6C;
    display: inline-block;
    font-size: 200px;
    color: white;
}

.uploadLabel:hover {
    background: #251C68;
}

.glyphicon.glyp-size {
    font-size: 160px;
}

.upload-btn {
    margin-left: -200px;
    background: #251C68 !important;
}
.upload-btn:hover {
    background: #6C6C6C !important;
}