<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MrConstruction">
<head>
    <title></title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/angular/core")
    @Scripts.Render("~/angular/app")
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700italic,900' rel='stylesheet' type='text/css'>
</head>
<body class="container-fluid">

    <!--HEADER-->
    <div class="top">
        <div class="row" id="logo">
            <a href="#/"><img src="~/Content/MRC.png" /></a>
        </div>
        <div class="center" ng-controller="authController as auth">
            <nav class="navbar">
                <ul class="nav navbar-nav" id="nav">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li>
                        <a href="#/about">About</a>
                    </li>
                    <li>
                        <a href="#/portfolio">Portfolio</a>
                    </li>
                    <li ng-if="!auth.isLoggedIn">
                        <a href="#/login">Login</a>
                    </li>
                    <li ng-if="auth.isAdmin">
                        <a href="#/project-list">Projects</a>
                    </li>
                    <li ng-if="auth.isAdmin">
                        <a href="#/contractors">Contractors</a>
                    </li>
                    <li ng-if="auth.isContractor">
                        <a href="#/contractor-tasks">Tasks</a>
                    </li>
                    <li ng-if="auth.isLoggedIn" ng-click="auth.logout()">
                        <a href="#/">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">

        </div>
    </div>

    <ng-view></ng-view>

    <!--FOOTER-->
    <footer class="footer">
        <div class="row footer-container">
            <div class="col-md-offset-3 col-md-6">
                <div class="row">
                    <div class="col-md-6" style="text-align:center;">
                        <h4 class="title"><a href="/#/about">Contact Details</a></h4>
                        <hr class="sexy-line" />

                        <p>281-732-4106</p>
                        <p>mrconstco@gmail.com</p>
                        <p>MR Construction Co.</p>
                        <p>13204 Indigo Creek Ln</p>
                        <p>Pearland, Texas 77584</p>
                           <h2 class="footer-h2">Dustin Hitzing</h2>
                    </div>
                    
                    <div class="col-md-6" style="text-align:center;">
                        <h4 class="title"><a href="/#/about">Mike Rigby</a></h4>
                        <hr class="sexy-line" />
                        <img src="~/Content/PMS.jpg" id="footer-pic" />
                    </div> 
                </div>
                <div class="row text-center copyright">
                   Designed By: <a href="https://github.com/dustin-hitzing">Dustin Hitzing</a> : <a href="https://github.com/wyijx">Jack Hutson</a> : <a href="https://github.com/sarahywloo">Sarah Kim</a> : <a href="https://github.com/zg-mixon">Zach Mixon</a>
                   <br />
                    &copy;MR Construction 2016.
                </div>
            </div>
        </div>
    </footer>
</body>
</html>