<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MrConstruction">
<head>
    <title></title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/angular/core")
    @Scripts.Render("~/angular/app")
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700italic,900' rel='stylesheet' type='text/css'>
</head>
<body class="container-fluid">

    <!--HEADER-->
    <div class="top">
        <div class="row" id="logo">
            <a href="#/"><img src="~/Content/MRC.png" /></a>
        </div>
        <div class="center">
            <nav class="navbar">
                <a href="#/"></a>
                <ul class="nav navbar-nav" id="nav">
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Portfolio</a>
                    </li>
                    <li>
                        <a href="">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
           
        </div>
    </div>
    
    <ng-view></ng-view>

    <!--FOOTER-->
    @*<footer class="footer">
        <nav class="navbar-default text-center">
                <span class="text-muted copyright">&copy; MR Construction 2016</span>
        </nav>
    </footer>*@
</body>
</html>